header {
  margin-top: 15px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 375px)
  and (orientation: portrait) {

    table.table-text {
      font-size: .7rem;
    }
    .h1-text {
      font-size: 1rem;
      text-align: center;
    }
    .h4-text {
      font-size: 1rem;
      text-align: center;
    }
    .btn-text {
      font-size: .7rem;
    }
    .input-text {
      font-size: .7rem;
    }
    .form-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .form-sub {
      width: 80%;
    }
    .header-top {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
}

@media only screen
  and (min-device-width: 768px)
  and (orientation: portrait) {

    table.table-text {
      font-size: 1.5rem;
      margin: 10px;

    }
    .h1-text {
      font-size: 1.8rem;
      text-align: left;
      width: 55%;
      margin-left: 30px;
    }
    .h4-text {
      font-size: 1.5rem;
      text-align: right;
      width: 40%;
    }
    .btn-text {
      font-size: 1.5rem;
    }
    .input-text {
      font-size: 1.5rem;
    }
    .form-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .form-sub {
      width: 80%;
    }
    .header-top {
      max-width: 100%;
    }

}


@media only screen
  and (min-device-width: 568px)
  and (max-device-width: 665px)
  and (orientation: landscape) {

    table.table-text {
      font-size: .5rem;
      margin-left: 18px;
      max-width: 60%;
    }
    .form-container {
      max-width: 40%;
    }
    .h1-text {
      font-size: 1rem;
      text-align: left;
    }
    .h4-text {
      font-size: 1rem;
      text-align: right;
    }
    .btn-text {
      font-size: .5rem;
    }
    .input-text {
      font-size: .5rem;
    }
    .header-top {
      flex-wrap: nowrap;
      justify-content: space-around;
    }
    .main-container {
      flex-wrap: nowrap;
    }
}

@media only screen
  and (min-device-width: 667px)
  and (max-device-width: 1023px)
  and (orientation: landscape) {

    table.table-text {
      font-size: .7rem;
      max-width: 60%;
      margin-left: 18px;
    }
    .form-container {
      max-width: 40%;
    }
    .h1-text {
      font-size: 1rem;
      text-align: left;
    }
    .h4-text {
      font-size: 1rem;
      text-align: right;
    }
    .btn-text {
      font-size: .65rem;
    }
    .input-text {
      font-size: .65rem;
    }
    .header-top {
      justify-content: space-evenly;
      margin-right: 0;
      margin-left: 0;
    }
    .main-container {
      flex-direction: row;
      flex-wrap: nowrap;

    }
}
@media only screen
  and (min-device-width: 1024px)
  and (orientation: landscape) {

    table.table-text {
      font-size: 1rem;
      max-width: 60%;
    }
    .form-container {
      max-width: 40%;
      padding-right: 0;
      margin-left: 15px;
    }
    .h1-text {
      font-size: 2rem;
    }
    .h4-text {
      font-size: 2rem;
      text-align: right;
    }
    .btn-text {
      font-size: 1rem;
    }
    .input-text {
      font-size: 1rem;
    }
    .header-top {
      justify-content: space-evenly;
      margin-right: 0;
      margin-left: 0;
    }
    .main-container {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin-left: 15px;
      margin-right: 15px;
    }
}
